*.fasta
*.dmnd
*.tsv
*.exe

# Ignore all CSV and FASTA files in selected folders
Community_comparisons/*.csv
db_results_analysis/*.csv
pipelines/**/*.csv

Community_comparisons/*.fasta
db_results_analysis/*.fasta
pipelines/**/*.fasta

echo "pipelines/pipeline_diamond.ipynb" >> .gitignore
echo "pipelines/pipeline_first.ipynb" >> .gitignore